<h3>Cart</h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <!-- <div class="cart-item" *ngFor="let item of items" [FormControl]="products">
    <input type="text" name="products" [ngValue]="item"/>
    <span>{{ item.name }}</span>
    <span>{{ item.price }}</span>
  </div> -->

  <input type="text" *ngFor="let item of items" formControlName="products" (ngValue)="item.name"/>

  <!-- <div>
    <input type="text" formControlName="products"/>
  </div> -->
  
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name" placeholder="First & Last Name, Please!">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address" placeholder="Where You Want To Receive Your Goods">
  </div>

  <button class="button" type="submit">Purchase</button>
</form>